# Basic Level

Sol 1

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Sol 2

In [2]:
list1 = [1,2,3,4]
sum=0

for i in list1:
    sum += i
    
print("Sum : ",sum)

Sum :  10

Sol 3

In [6]:
s = "sandip"

for char in reversed(s):
    print(char)

p
i
d
n
a
s

Sol 4

In [8]:
n = 4
fac = 1

for i in range(1,n+1):
    fac *= i
    
print("Factorial : ",fac)

Factorial :  24

Sol 5

In [9]:
n = int(input("Enter a number : "))
h = int(input("Enter the number of multiplication table limit : "))

for i in range(1,h+1):
    print(n*i)

Enter a number : 17
Enter the number of multiplication table limit : 10
17
34
51
68
85
102
119
136
153
170

Sol 6

In [11]:
list1 = [1,2,3,4,5,6,7]

odd = 0
even = 0

for item in list1:
    if item %2 == 0:
        even += 1
    else:
        odd += 1
        
print("Number of odd Numbers : ",odd)
print("Number of even Numbers : ",even)

Number of odd Numbers :  4
Number of even Numbers :  3

Sol 7

In [13]:
for i in range(1,6):
    print(i*i)

1
4
9
16
25

Sol 8

In [16]:
string = input("Enter a string : ")

count = 0
for char in string:
    count += 1
    
print("Length of the string : ",count)

Enter a string : sandip
Length of the string :  6

Sol 9

In [17]:
list1 = [1,2,3,4,5,6,7]

s = 0
count = 0
for item in list1:
    s += item
    count += 1
    
avg = s/count
print("Average of the list of numbers : ",avg)

Average of the list of numbers :  4.0

Sol 10

In [21]:
a,b = 0,1

n = int(input("Enter the limit number : "))
for i in range(n):
    print(a, end=' ')
    c = a+b
    a = b
    b = c

Enter the limit number : 10
0 1 1 2 3 5 8 13 21 34

# Intermediate

Sol 11

In [41]:
list1 = [1,2,3,4,5,4,5]
list2 = []

for item in list1:
    if item in list2:
        duplicate = True
    else:
        list2.append(item)
        duplicate = False
if duplicate:
    print("The list contains duplicate items")
else:
    print("No, the list does not contains duplicates")

The list contains duplicate items

Sol 12

In [43]:
def prime(n):
    count = 0
    for i in range(1,n+1):
        if n%i == 0:
            count += 1
            
    if count == 2:
        return True
    else:
        return False

for i in range(1,50):
    if prime(i):
        print(i,end = ' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

Sol 13

In [44]:
vowels = "AEIOUaeiou"
string = input("Enter a string : ")
count = 0

for char in string:
    if char in vowels:
        count+=1
        
print("Vowels count : ",count)

Enter a string : sandip shaw
Vowels count :  3

Sol 14

In [47]:
matrix = [
    [1, 5, 3],
    [9, 2, 6],
    [8, 4, 7]
]

max_elem = matrix[0][0]

for list1 in matrix:
    for item in list1:
        if item > max_elem:
            max_elem = item

print("Max Element : ",max_elem)

Max Element :  9

Sol 15

In [49]:
list1 = [1,2,3,4,5]
new_list = []
n = int(input("Enter the number you want to remove"))
for item in list1:
    if item != n:
        new_list.append(item)
        
print("New List : ",new_list)

Enter the number you want to remove4
New List :  [1, 2, 3, 5]

Sol 16

In [50]:
n = int(input("Enter the multiplication table limit"))

for i in range(1,6):
    print("Multiplication of ",i)
    for mul in range(1,n+1):
        print(f"{i} * {mul} = {i*mul}")

Enter the multiplication table limit10
Multiplication of  1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
Multiplication of  2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Multiplication of  3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
Multiplication of  4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
Multiplication of  5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Sol 17

In [51]:
far_list = [120,130,100,165]
cel_list = []
for item in far_list:
    cel_list.append((item - 32) * 5 / 9)
    
print("Celcius Temperatures : ",cel_list)

Celcius Temperatures :  [48.888888888888886, 54.44444444444444, 37.77777777777778, 73.88888888888889]

Sol 18

In [52]:
list1 = [1,2,3,4,5,6]
list2 = [5,6,7,8,9]
common = []
for i in list1:
    for j in list2:
        if i == j:
            common.append(i)
            
print("Common items : ",common)

Common items :  [5, 6]

Sol 19

In [56]:
for i in range(6):
    print('*'*i)

*
**
***
****
*****

Sol 20

In [60]:
a,b = int(input("Enter a number : ")),int(input("Enter a number : "))

for i in range(1,max(a,b)+1):
    if  a%i==0 and b%i==0:
        gcd = i
        
print("GCD of the two numbers : ",gcd)

Enter a number : 75
Enter a number : 50
GCD of the two numbers :  25

## Advanced

Sol 21

In [61]:
list1 = [123,456,1457,7548]

def sumdigit(n):
    s = 0
    for i in str(n):
        s += int(i)
        
    return s

sum_list = [sumdigit(item) for item in list1]
print("List with the sum of digits : ",sum_list)

List with the sum of digits :  [6, 15, 17, 24]

Sol 22

In [67]:
def prime(n):
    count = 0
    for i in range(1,n+1):
        if n%i == 0:
            count += 1
            
    if count == 2:
        return True
    else:
        return False
n = int(input("Enter a number you want to find the prime factors of : "))
    
prime_factor = [i for i in range(1,n+1) if n%i==0 and prime(i)]
prime_factor

Enter a number you want to find the prime factors of : 51

[3, 17]

Sol 23

In [85]:
list1 = [1,2,3,4,5,4,5]
new_list = []
new_list = [item for index,item in enumerate(list1) if item not in list1[:index]]
print("Unique Items : ",new_list)

Unique Items :  [1, 2, 3, 4, 5]

Sol 24

In [87]:
n = int(input("Enter the limit number : "))
palindrome = [i for i in range(10,n+1) if str(i)==str(i)[::-1]]
print("Palindrome list : ",palindrome)

Enter the limit number : 50
Palindrome list :  [11, 22, 33, 44]

Sol 25

In [107]:
def flatten(list1):
    return [item for sublist in list1 for item in (flatten(sublist) if isinstance(sublist,list) else [sublist])]

nest_list = [1,2,3,[4,5,['a','b'],6],7,8]
flat_list = flatten(nest_list)
print(flat_list)

[1, 2, 3, 4, 5, 'a', 'b', 6, 7, 8]

Sol 26

In [2]:
list1 = [1,2,3,4,5,6,7,8,9]

odd_sum = sum([item for item in list1 if item%2!=0])
even_sum = sum([item for item in list1 if item%2==0])

print("Sum of odd numbers : ",odd_sum)
print("Sum of even numbers : ",even_sum)

Sum of odd numbers :  25
Sum of even numbers :  20

Sol 27

In [8]:
a = [i*i for i in range(1,11) if i%2!=0]
print("Squares of odd numbers upto 10 : ",a)

Squares of odd numbers upto 10 :  [1, 9, 25, 49, 81]

Sol 28

In [17]:
a = ['a', 'b', 'c']
b = [1, 2, 3]

combined = {key:value for key,value in zip(a, b)}
print(combined)

{'a': 1, 'b': 2, 'c': 3}

Sol 29

In [18]:
vowels = "AEIOUaeiou"

string = input("Enter a string : ")
vowel_list = [char for char in string if char in vowels]

print("vowel list : ",vowel_list)

Enter a string : Sandip Shaw
vowel list :  ['a', 'i', 'a']

Sol 30

In [22]:
list1 = [1,2,3,'hello','hi']

num = [item for item in list1 if not str(item).isdigit()]
print("Non numeric items in the list : ",num)

Non numeric items in the list :  ['hello', 'hi']

# Challenge Level

Sol 31

In [4]:
def sieve_of_eratosthenes(limit):
    primes = [True] * (limit + 1)
    primes[0], primes[1] = False, False

    for i in range(2, int(limit**0.5) + 1):
        if primes[i]:
            primes[i*i:limit+1:i] = [False] * len(primes[i*i:limit+1:i])

    return [num for num, is_prime in enumerate(primes) if is_prime]

limit = int(input("Enter a number : "))
prime_list = sieve_of_eratosthenes(limit)
print(prime_list)

Enter a number : 100
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

Sol 32

In [30]:
import math
lim = int(input("Enter limit number : "))
squares = [i*i for i in range(1,lim+1)]
unique_list = [(i,j,int(math.sqrt(i**2+j**2))) for i in range(1,lim) for j in range(1,lim) if i**2+j**2 in squares]
print(unique_list)

Enter limit number : 50
[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (18, 24, 30), (20, 15, 25), (20, 21, 29), (21, 20, 29), (21, 28, 35), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (27, 36, 45), (28, 21, 35), (30, 16, 34), (30, 40, 50), (32, 24, 40), (35, 12, 37), (36, 15, 39), (36, 27, 45), (40, 9, 41), (40, 30, 50), (48, 14, 50)]

Sol 33

In [31]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

combination = [(i,j) for i in list1 for j in list2]
print("All possible combination : ",combination)

All possible combination :  [(1, 5), (1, 6), (1, 7), (1, 8), (2, 5), (2, 6), (2, 7), (2, 8), (3, 5), (3, 6), (3, 7), (3, 8), (4, 5), (4, 6), (4, 7), (4, 8)]

Sol 34

In [40]:
from statistics import mean,median,mode
list1 = [1,2,3,4,5,6,7,8,9,102,7]

m = mean(list1)
me = median(list1)
mo = mode(list1)

print("Mean : ",m)
print("Median : ",me)
print("Mode : ",mo)

Mean :  14
Median :  6
Mode :  7

Sol 35

In [120]:
from math import factorial

n = int(input("Enter a number"))
pascal = [
    " " * (n-i) + " ".join(str(factorial(i) // (factorial(i-j)*factorial(j)))   for j in range(i+1))
    for i in range(n)]
for row in pascal:
    print(row)

Enter a number5
     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

Sol 36

In [121]:
from math import factorial
def sumofdigit(no):
    sum1=0
    for char in str(no):
        sum1 += int(char)
    
    return sum1
    
fac = [ sumofdigit(factorial(i))  for i in range(1,6)]
print(fac)

[1, 2, 6, 6, 3]

Sol 37

In [135]:
text = "hello how are you doing"

word_list = [word for word in text.split()]
print("Longest word : ",max(word_list,key = len))

Longest word :  hello

Sol 38

In [148]:
word_list = ["hello", "world", "python", "programming", "vowels", "list", "comprehension"]

def count_vowel(word):
    return sum([1 for char in word if char.lower() in 'aeiou'])

list1 = [word for word in word_list if count_vowel(word)>3]
print("Words with more than 3 vowels : ",list1)

Words with more than 3 vowels :  ['comprehension']

Sol 39

In [153]:
a = [sum([int(no) for no in str(i)]) for i in range(1,1001)]
print("Sum of digits for 1 to 1000 : ",a)

Sum of digits for 1 to 1000 :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

Sol 40

In [159]:
n=1000
primepalin = [i for i in range(2,n) if sum(1 for j in range(1,i+1)  if i%j == 0) == 2 and str(i) == str(i)[::-1]]
print("Prime Palindrome numbers upto 1000 are : ",primepalin, end='')

Prime Palindrome numbers upto 1000 are :  [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]